@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div> 
        <h1>Hello, dear friends!</h1>
        <p>Это моя страничка. Здесь вы узнаете немного информации обо мне и как со мной связаться</p>
        <p>А еще я люблю котиков. Мур</p>
        <img src="http://cs315523.vk.me/v315523308/6dcd/dufmFqspHuw.jpg" width="400" />
    </div>