


    <div> 
       <p>Вконтакте: <a href="vk.com/seergeevna">vk.com/seergeevna</a></p>
        <p>E-mail: <a href="zabegaeva13@gmail.com">zabegaeva13@gmail.com</a></p>
        <p>Telegramm: SvetlanaZabegaeva</p>
    </div>

