
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div> 
       <p> <img src="http://cs625328.vk.me/v625328308/4b6f4/mkXzxmTNHgI.jpg" width="300"/> </p>
        <p><img src="http://cs616321.vk.me/v616321308/cdf2/W18jP9b5TBw.jpg" width="300" /> </p>
    </div>

